<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-7 col-sm-12 col-lg-9 text-center">
            <h1>Number of students by each department</h1>
            <canvas id="myChart"></canvas>
          </div>
        </div>
        <div class="row justify-content-center">
          <h1 class="text-center">Percentage of students by each department</h1>
          <div class="col-6 col-md-3 col-sm-6 col-lg-4 text-center">
            <canvas id="myPieChart"></canvas>
          </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-7 col-sm-12 col-lg-9 text-center">
              <h1>Number of students classified by age</h1>
              <canvas id="ageChart"></canvas>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
